{% load static %}
{% load auth_extras %}


    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'dist/img/Avatar.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'cliente_principal_view' object.key_access object.id %}" class="d-block">{{ object.nombre_empresa }}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-compact nav-child-indent text-sm" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <!-- MULTI MENÚ -->
          <li class="nav-header">Menús</li>

          
          <li class="nav-item">
            <a href="{% url 'cliente_principal_view' object.key_access object.id %}" class="nav-link">
              <i class="fas fa-circle nav-icon"></i>
              <p>Principal</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'cliente_principal_view' object.key_access object.id %}" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Reportes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="{% url 'clientes_pedido_list' object.key_access object.id %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte de Pedidos</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'clientes_factura_list' object.key_access object.id %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte de Facturas</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'clientes_despacho_list' object.key_access object.id %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte de Despachos</p>
                </a>
              </li>
              
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>