{% load static %}
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Sistema de Tickets de la Universidad Panamericana de Guatemala, seguimiento ordenado de solicitudes, incidentes a los problemas más frecuentes."/>
  <meta name="keywords" content="Tickets UPANA, Soporte UPANA, Sistema de Tickets Universidad Panamericana"/>
  <meta name="robots" content="index, nofollow"/>
  <meta name="author" content="Melvin Randolfo Canté Guerra"/>
  

    <title>PÁGINA NO ENCONTRADA</title>

    <!--LIBRERIAS-->
    <link href="{% static 'my_js/404/css.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'my_js/404/style.css' %}" rel="stylesheet" type="text/css" media="all" /> 
    

</head>
<body> 
    <div class="wrap"> 
     <div class="logo"> 
      <p>OOPS! - Página no Encontrada</p> 
      <img src="{% static 'img/404-1.png' %}" /> 
      <div class="sub"> 
       <p><a href="#">Volver</a></p> 
      </div> 
     </div> 
    </div> 
   </body>
  </html>