{% extends "base/principal.html" %} 
{% load widget_tweaks %}

{% load static %} 
{% block title %} Factura {% endblock title %} 

{% block stylesheets %} 
{{ block.super }}

<!-- alertifyjs -->
<link href="{% static 'plugins/alertifyjs/css/alertify.min.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'plugins/alertifyjs/css/themes/bootstrap.min.css' %}"/>

<!-- Select2   4.0.13 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">


{% endblock stylesheets %} 


{% block headercontent %} 



{% if object.id %}
    Actualizar Factura # {{ object.numero_factura }}
{% else %}
    Agregar Factura
{% endif %}

{% endblock headercontent %} 


{% block content %}

<!-- =========================================================== -->

<div class="row">

    <!-- /.col -->
    <div class="col-md-5 col-sm-8 col-12">
        <div class="card card-primary">
            <div class="card-header">
            <h3 class="card-title">Formulario de Factura / Planta</h3>
    
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                </button>
            </div>
            <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <a href="{% url 'imprimir_factura_planta_view' object.id %}" target="_black"><i class='fas fa-print fa-4x' style='color:#1930a4'></i> <br> Imprimir</a>

                {% if object.completada %}
                <table class="table table-striped table-hover table-sm">
                    <tr>
                        <td>Cliente:</td>
                        <td>{{ object.cliente.nombre_empresa }}</td>
                    </tr>
                    <tr>
                        <td>Pedido:</td>
                        <td>{{ object.pedido.id }}</td>
                    </tr>
                    <tr>
                        <td>Fecha Facturación:</td>
                        <td>{{ object.fecha_factura }}</td>
                    </tr>
                    <tr>
                        <td>Monto Total:</td>
                        <td>Q{{ object.monto_total }}</td>
                    </tr>
                    <tr>
                        <td>Vendedor:</td>
                        <td>{{ object.vendedor.get_full_name }}</td>
                    </tr>
                    <tr>
                        <td>Estado Factura:</td>
                        <td>{{ object.estado_factura }}</td>
                    </tr>
                    <tr>
                        <td>Tipo Pago:</td>
                        <td>{{ object.tipo_pago }}</td>
                    </tr>
                    <tr>
                        <td>Estado de la Venta:</td>
                        <td>
                            {% if object.completada %}
                                <small class="badge badge-success"> {{ object.estado_venta }}</small>
                            {% else %}
                                <small class="badge badge-warning"> {{ object.estado_venta }}</small>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                {% else %}



                <!-- INICIA EL FORMULARIO -->
                <div class="box-body  table-responsive">
                    <table class="table table-striped table-hover table-sm">
                                <form action="" method="post">
                                    {{ form.non_field_errors }}
                                    {% csrf_token %}
                        
                        {% for field in form.visible_fields %}
                                    <tr>
                                        <td>{{field.label}}</td>
                                        <td>{{ field|add_class:"form-control form-control-sm" }} {{ field.errors }}</td>
                        </tr>
                        {% endfor %}
                        
                        {% for field in form.hidden_fields %}
                        <div style="display:none;">{{ field }}</div>
                        {% endfor %}
                        
                                    <tr>
                                        <td>
                                            <input type="submit" value="Guardar" class="btn btn-primary">
                                        </td>
                                    </tr>
                                </form>
                    </table>
                </div>
                <!-- /.FINALIZA EL FORMULARIO -->



                {% endif %}

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->



    <!-- /.col -->
    <div class="col-md-5 col-sm-8 col-12">
        <div class="card card-primary">
            <div class="card-header">
            <h3 class="card-title">Detalle de la Factura</h3>
    
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                </button>
            </div>
            <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                {% if object.completada %}
                    <span class="badge badge-success">Factura completada, no se permiten modificaciones</span>
                {% else %}
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default"><i class="fas fa-plus-circle"></i> Agregar Producto al Detalle</button>
                    <br><br>
                {% endif %}


                <!-- INICIA EL FORMULARIO -->
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-striped table-bordered" style="width:100%">                            
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>SubTotal</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if detalle_factura_list %}

                            {% for obj in detalle_factura_list %}
                            <tr>
                                <td>{{obj.producto.nombre}}</td>
                                <td>{{obj.cantidad}}</td>
                                <td>Q{{obj.precio}}</td>
                                <td>Q{{obj.fn_subtotal}}</td>
                                <td>
                                    {% if object.completada %}
                                        <span class="badge badge-success">Factura completada</span>
                                    {% else %}
                                        <button id="id_producto_detalle_delete" class="btn btn-sm btn-danger" onclick="fn_quitar_del_detalle('{{ obj.id}}')"><i class="fas fa-trash-alt"></i></button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                            {% endif %}
                            
                        </tbody>
                        <!--
                        <tfoot>
                            <th><input type="text" placeholder="Buscar"/></th>
                        </tfoot>
                        -->
                    </table>
                </div>
                <!-- /.FINALIZA EL FORMULARIO -->

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->


    
</div>
<!-- /.row -->




<!-- modal -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Producto al Detalle</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <h4>Stock: <p id="id_stock_disponible"></p></h4>


            <div class = "table-responsive-sm">
    
                <table class="table table-sm table-hover table-striped table-bordered" style="width:100%">
                    <form action="{% url 'planta_detalle_factura_add' %}" method="post" id="planta_detalle_factura_add">
                        {{ form.non_field_errors }} {% csrf_token %} {% for field in detalle_factura_form.visible_fields %}
                        <tr>
                                
                            <td>                                                    
                                <strong>{{field.label}}</strong>
                                {{ field|add_class:"form-control form-control-sm" }} {{ field.errors }} 
                            </td>
                            
                        </tr>
                        {% endfor %} {% for field in detalle_factura_form.hidden_fields %}
                        <div style="display:none;">{{ field }}</div>
                        {% endfor %}
                        
                        <tr>
                            <td>
                                <input type="submit" value="Agregar al Detalle" class="btn btn-primary">
                            </td>
                        </tr>
                    </form>
                </table>
            </div>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->




{% endblock content %} 

{% block javascripts %} 
{{ block.super }}


<!-- jQuery v3.5.1 -->
<script src="{% static 'plugins/jquery/jquery-3.5.1.min.js' %}"></script>

<!-- Select2  4.0.13 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

<!-- alertifyjs -->
<script src="{% static 'plugins/alertifyjs/alertify.min.js' %}"></script>


<script src="{% static 'my_js/inicializar.js' %}"></script>

<script>
    //init_select2();
    init_select2_bootstrap_4();
</script>



<script>

    // Llama al API para obtener el stock y precio, utiliza la misma API del reporte de Inventario
    $("#id_producto").change(function (e) {

    const lv_url = "{% url 'plantas_inventario_list_api' %}";
    //const lv_saldo_actual_boleta = Number('{{object.saldo_boleta}}'); // Convierte la cadena en números, necesario para evaluar el saldo con el monto a asignar.
    //const lv_monto_a_asignar = document.querySelector('.DistribucionPago'); // Asigna el valor del input monto a la variable

    $("#id_precio").empty();
    
    let lv_producto = $("#id_producto").val();
    let lv_negocio = "{{ user.relPerfilUsuario.negocio.id|default:'0' }}";

    if(lv_producto == ""){
        return false;
    }

    $.getJSON(lv_url + '?producto=' + lv_producto + '&negocio=' + lv_negocio,
        function (data) {
            //console.log(data.results[0].precio);
            document.getElementById('id_precio').value = data.results[0].precio;
            document.getElementById("id_stock_disponible").innerHTML = data.results[0].stock;
            
        });


    })



    $("#id_cantidad").keyup(function (e) {

        let lv_cantidad_ingresada = $("#id_cantidad").val();
        let lv_stock_disponible = parseInt(document.getElementById("id_stock_disponible").innerHTML, 10);

        if(lv_cantidad_ingresada > lv_stock_disponible){
            alertify.alert('Alerta de Stock', 'La cantidad ingresada (' + lv_cantidad_ingresada + ') supera el stock disponible (' + lv_stock_disponible + ').');
            document.getElementById('id_cantidad').value = null;
        }

        //console.log(lv_cantidad_ingresada);
        //console.log(lv_stock_disponible);

    })



// Consumir el API Rest SERVICIO DELETE
const fn_quitar_del_detalle = async(p_id) => {
    
    try {
        lv_url_delete = "{% url 'factura_detalle_api' 777 %}";
        lv_url_delete = lv_url_delete.replace('777', p_id);

        const Respuesta = await fetch(lv_url_delete, {
            method: 'DELETE',
            credentials: "same-origin",
            headers: {
            "Accept": "application/json",
            "Content-Type": "application/json"
            },
        })
        const TextResul = await Respuesta.status;
        console.log(TextResul);

        if(TextResul == 204){
            location.reload();
        }

    } catch (error) {
        console.log("Error 'fn_quitar_del_detalle' " + error);
    }
    
}
// ./Consumir el API Rest SERVICIO DELETE




</script>



{% endblock javascripts %}