{% extends "base/principal.html" %} 
{% load widget_tweaks %}

{% load static %} 
{% block title %} Lista de Vehículos {% endblock title %} 

{% block stylesheets %} 
{{ block.super }}

<!-- Select2   4.0.13 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

<!-- DataTables 1.11.4 -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">

{% endblock stylesheets %} 


{% block headercontent %} 
  Lista de Vehículos
{% endblock headercontent %} 


{% block content %}

<!-- =========================================================== -->


<div class="row">
    <div class="col-md-4">
    {% if page_obj.has_previous or page_obj.has_next %}
    <h3>La página actual es #{{ page_obj.number }}</h3>
    {% endif %}
    <table>
      <tr>
        {% if page_obj.has_previous %}
        <td><a href="?page=1" class="btn btn-block bg-gradient-primary btn-sm"><i class="fas fa-fast-backward"></i> Primera</a></td>
        <td><a href="{% url 'pedido_user_list' %}?page={{ page_obj.previous_page_number }}" class="btn btn-block bg-gradient-primary btn-sm"><i class="fas fa-step-backward"></i> Anterior #{{ page_obj.previous_page_number }}</a></td>
        {% endif %}
  
        {% if page_obj.has_next %}
        <td><a href="{% url 'pedido_user_list' %}?page={{ page_obj.next_page_number }}" class="btn btn-block bg-gradient-primary btn-sm"><i class="fas fa-step-forward"></i> Siguiente #{{ page_obj.next_page_number }}</a></td>
        <td><a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-block bg-gradient-primary btn-sm"><i class="fas fa-fast-forward"></i> Última</a></td>
        {% endif %}
      </tr>
    </table>
  
    </div>
</div>

<div class="row">
    <!-- /.col -->
    <div class="col-md-12 col-sm-12 col-12">
        <div class="card card-primary">
            <div class="card-header">
            <h3 class="card-title">Lista de Vehículos</h3>
    
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                </button>
            </div>
            <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">

              <a href="{% url 'inventario_vehiculo_add' %}" class="btn btn-warning"><i class="fas fa-plus-square"></i> Agregar Vehículo al Inventario</a>
                <br><br>

                <!-- INICIA EL FORMULARIO -->
                <div class="box-body  table-responsive">
                    

                    <table class="stripe row-border order-column table-hover table-striped table-bordered" id="dataTablesFull" style="width:100%">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Fecha Ingreso</th>
                            <th>Marca</th>
                            <th>Linea</th>
                            <th>Modelo</th>
                            <th>Tipo de Vehículo</th>
                            <th>Transmisión</th>
                            <th>Color</th>
                            <th>Cilindraje</th>
                            <th>Número de Chásis</th>
                            <th>Tonelaje</th>
                            <th>Placa</th>
                            <th>Disponible</th>
                            <th>Permiso Fronterizo</th>
                            <th>Dispositivo GPS</th>
                            <th>Esta de Baja</th>
                            <th>Fecha de Baja</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if object_list %} <!-- Pregunta primero si hay objetos dentro de nuestro contexto -->
                          {% for objeto in object_list|dictsort:"id" reversed %}
                          <tr>
                            <td>
                              <a class="btn btn-xs btn-info" href="{% url 'inventario_vehiculo_update' objeto.id %}"><i class="fas fa-edit"></i> {{objeto.id|default:"--"}}</a>
                            </td>
                            <td>{{ objeto.fecha_ingreso|date:"SHORT_DATE_FORMAT"|default:"--" }}</td>
                            <td>{{ objeto.marca.nombre|default:"--" }}</td>
                            <td>{{ objeto.linea.nombre|default:"--" }}</td>
                            <td>{{ objeto.modelo|default:"--" }}</td>
                            <td>{{ objeto.tipo_vehiculo.tipo_vehiculo|default:"--" }}</td>
                            <td>{{ objeto.tipo_transmision.transmision_vehiculo|default:"--" }}</td>
                            <td>{{ objeto.color|default:"--" }}</td>
                            <td>{{ objeto.cilindraje|default:"--" }}</td>
                            <td>{{ objeto.numero_chasis|default:"--" }}</td>
                            <td>{{ objeto.tonelaje|default:"--" }}</td>
                            <td>{{ objeto.placa|default:"--" }}</td>
                            <td>
                              {% if objeto.disponible %}
                                Sí
                              {% else %}
                                No
                              {% endif %}
                            </td>
                            <td>
                              {% if objeto.permiso_fronterizo %}
                                Sí
                              {% else %}
                                No
                              {% endif %}
                            </td>
                            <td><a class="btn btn-xs btn-warning" href="{% url 'dispositivo_gps_update' objeto.dispositivo_gps.id %}">{{objeto.dispositivo_gps|default:"--"}}</a></td>                              
                            <td>
                              {% if objeto.baja %}
                                Sí
                              {% else %}
                                No
                              {% endif %}
                            </td>
                            <td>{{ objeto.fecha_baja|date:"SHORT_DATE_FORMAT"|default:"--" }}</td>
                          </tr>
                          {% endfor %}
                          {% else %}
                          <h1>No hay registros</h1>
                          {% endif %}	
                          
                        </tbody>
                        
                      </table>
                    

                </div>
                <!-- /.FINALIZA EL FORMULARIO -->

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->


    
</div>
<!-- /.row -->



{% endblock content %} 

{% block javascripts %} 
{{ block.super }}


<!-- jQuery v3.5.1 -->
<script src="{% static 'plugins/jquery/jquery-3.5.1.min.js' %}"></script>


<!-- DataTables 1.11.4 -->
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
  
<!-- Cargar botones -->
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/jszip.min.js' %}"></script> <!-- Requerido para que el botón de Export Excel funcione en el datable -->

<!-- Select2  4.0.13 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>


<script src="{% static 'my_js/inicializar.js' %}"></script>

<script>
    //init_select2();
    //init_select2_bootstrap_4();

    init_datatables_full();

</script>

{% endblock javascripts %}