{% extends "clientes/home_public/base_publico.html" %}
{% load static %}


    {% block content %}

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="contact__content">
                        <div class="contact__address">
                            <h5>Pedido Generado Satisfactoriamente</h5>
                            
                            <p>
                                Recuerde que puede consultar sus pedidos, facturaciones y demás utlizando su código de cliente dando click en el siguiente
                                <a href="#">link</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

{% endblock content %}